body {
  background: #eee;
}

canvas {
  image-rendering:optimizeSpeed;             /* Legal fallback                 */
  image-rendering:-moz-crisp-edges;          /* Firefox                        */
  image-rendering:-o-crisp-edges;            /* Opera                          */
  image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
  z-index: 1;
}

canvas.disabled {
  visibility: hidden;
}

#experiment {
  position: relative;
  background: white;
  overflow: hidden;
}

#buttons {
  margin: 5px 0;
}

#path {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#objects {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#objects .object {
  position: absolute;
  z-index: 10;
}

span.weight {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  border-radius: 5px;
  padding: 0 2px;
  color: black;
  background-color: rgba(255,255,255,1);
  opacity: 0.8;
}
span.image {
  position: absolute;
  left: -8px;
  top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.deamon span.image {
  background-image: url(images/deamon.png);
}
.jewel span.image {
  background-image: url(images/jewel.png);
}
.hellfire span.image {
  background-image: url(images/hellfire.gif);
  width: 30px;
  height: 52px;
  left: -15px;
  top: -50px;
}

.love span.image {
  background-image: url(images/love.gif);
  width: 27px;
  height: 28px;
  left: -13.5px;
  top: -19px;
}

.veryangry span.image {
  background-image: url(images/veryangry.gif);
  width: 33px;
  height: 36px;
  left: -18px;
  top: -29px;
}

.paradise span.image {
  background-image: url(images/paradise.gif);
  width: 19px;
  height: 19px;
  left: -8px;
  top: -9px;
}

.pizza span.image {
  background-image: url(images/pizza.gif);
  width: 19px;
  height: 19px;
  left: -9px;
  top: -9px;
}

footer {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px dashed #fff;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
}

