body {
  background: #eee;
}

canvas {
  background: #fff;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  z-index: 1;
}

canvas.disabled {
  visibility: hidden;
}

#experiment {
  position: relative;
  background: white;
}

#objects {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#objects .object {
  position: absolute;
  z-index: 10;
}

#objects .object span {
  position: relative;
  left: -8px;
  top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.deamon span {
  background-image: url(deamon.png);
}
.jewel span {
  background-image: url(jewel.png);

}

footer {
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px dashed #fff;
}

#wrapper {
  width: 600px;
  margin: 0 auto;
}

